# Cloudflare Configuration
CLOUDFLARE_ACCOUNT_ID=your_account_id_here
CLOUDFLARE_API_TOKEN=your_api_token_here

# Resend Configuration  
RESEND_KEY=your_resend_api_key_here

# Google Configuration
GOOGLE_SPREADSHEET_ID=1SeBx16Skhzg5NRZR3ghM_sj_SRt6fGS2fgkij7lR9Gw
GOOGLE_APPS_SCRIPT_DEPLOYMENT_ID=AKfycbxjGIwt8YXfz4jmOcLqM8-2nMWMS2WM1IzdE92sSZdsS6G0AiWRe49EcJD4LE0A3OhG
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec

# Email Configuration
NOTIFICATION_EMAIL=dta35@cornell.edu
FROM_EMAIL=onboarding@resend.dev

# Worker Configuration
WORKER_NAME=wine-storage
WORKER_URL=https://wine-storage.iwv.workers.dev 